<div id="main" class="container-fluid">
	<div id="mainRow1" class="row-fluid">		
		<div class="span2 hero-unit">
			Test
		</div>
		<div class="span2 hero-unit">
			Test
		</div>
		<div class="span4 hero-unit">
			Test
		</div>
		<div class="span4 hero-unit">
			Test
		</div>
	</div>
	<div id="mainRow2" class="row-fluid">		
		<div class="span6 hero-unit">
			Test
		</div>
		<div class="span2 hero-unit">
			Test
		</div>
		<div class="span2 hero-unit">
			Test
		</div>
		<div class="span2 hero-unit">
			Test
		</div>
	</div>
</div>


