<div id="mash2" ng-controller="mash2Ctrl">
	<ul class="thumbnails">
		<li class="span4 hero-unit"> 
			<h4>10 Day Forecast</h4>
			<p>This demo utilizes Phonegap geolocation and Weather Underground API.</p>
			<p>Position:</p>
			<p>Lat: {{latitude}}</p>
			<p>Long: {{latitude}}</p>
		</li>
		<li id="weatherBlock" class="span4" ng-repeat="results in weather">
			<div class="thumbnail">
				<h1>{{results.date.weekday}}</h1>
				<h1>H: {{results.high.fahrenheit}} L: {{results.low.fahrenheit}}</h1>
				<img ng-src='{{results.icon_url}}'/>
				<h3>{{results.conditions}}</h3>
			</div>
		</li>
	</ul>
</div>
