<div id="main" class="row-fluid">
	<div class="span12 hero-unit">
		<h3> Week 1 Research </h3>
		<ol>
			<li><strong>Less obvious perks of using 'live' data resources include logins and payments. How could Twitter be used in these two scenarios?</strong></li>
			<p><small>The Twitter API, besides the search, has many ways of getting data all of which require login authentication. You can make use of the system, via the API, by allowing users authenticate with their credentials and access their twitter account. After authentication, you could code out a REST interface that would give you most of the functionality of Twitter as you were logged in directly through their system. You can also use twitter to just authenticate a user to your specific application that doesn’t involve twitter.</small></p>

			<li><strong>Visit Programmableweb.com and search for JSON-P data sources. Why would we need JSON-P, specifically?</strong></li>
			<p><small>The specific reason to use JSONP is to overcome the cross-domain data domain security policy named same origin policy. This policy inherently restricts a client from making a call to a resource on a different domain. JSONP takes advantage of the script tag as a way to make calls across domains and provides us with a dataset that we can parse and use.</small></p>

			<li><strong>Based on the JSON-P search results: what data resource(s) do you think might pair well with which types of Native device features?</strong></li>
			<p><small>The photo API’s like Flickr would pair perfectly with the native camera on both Android and IOS devices. Geolocation data from the native device could also be fed into an API like Twitter or Facebook. You could also upload video to an API like Youtube from your device.</small></p>

			<li><strong>Please describe any design and functionality intentions you may have for your Demo app components this month.</strong></li>
			<p><small>I have started down the path with the framework Foundation 4 to make my app completely responsive. I also would like to utilize Angular.js to make it a single page application to cut down on data processing.</p>

			<li><strong>Briefly describe some past 'lessons learned' regarding workflow as it relates to research, design, development, etc.</strong></li>
			<p><small>I think the most important lesson learned for me is to actually get working on basic features. I tend to get wrapped up on feature creep and it impedes my movement forward on the core functionality.</p>
			

		</ol>
	</div>
</div>