<div class="row-fluid" ng-controller="ytubeCtrl">
	<div class="span4">
		<div id="search-container" class="hero-unit">
			<h1>YouTube API</h1>
			
			<form class="form-search" ng-submit="search()">
				<label>Search for Videos!</label>
				<input type="text" class="span6 search-query" placeholder="Feed me!" ng-model="input">
				<input class="btn btn-block btn-inverse" type="submit" value="Search">
			</form>
			<p>This search utilizes the YouTube API to aquire videos by a keyword search term.</p>
			<p>Data format: JSONP</p>
			<h4>Enjoy!</h4>
		</div>
	</div>
	<div class="span6">
		<div id="tweet-container">
			<ul class="media-list">
				<li class="media" ng-repeat="results in videos">
					<a class="pull-left" href="{{results.link[0].href}}">
						<img class="media-object" ng-src="{{results.media$group.media$thumbnail[2].url}}">
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
