<div id="main" class="row-fluid">
	<div class="span12 hero-unit">
		<h3> Week 3 Research </h3>
		<ol>
			<li><strong>What are the 'top selling' app categories in the U.S.? Japan? Great Britain?</strong></li>
			<p><small>I used Appannie.com to find my mobile usage statistics. In the US the current top selling app category is Gaming. The game category holds eight of the top ten current top paid apps for the iPhone and all ten spots for the iPad in the US. In Japan, of the current top three paid apps two are book apps and one is a music app. Japan’s top grossing category is still overwhelmingly full of games. In Great Britain, the top current paid app is a messenger app called WhatsApp Messenger. The top paid and grossing is also mostly filled with gamming apps. The data points to the game category being the top spot for all three countries.</small></p>

			<li><strong>Based on your three answers above, what might you infer about each of the markets listed?</strong></li>
			<p><small>From the data I analyzed on appannie.com, the US and Great Britain are very similar in their app usage. Japan tends to use more utility and productivity apps than both the US and Great Britain across their user base.</small></p>

			<li><strong>What is the average cost and bandwidth limits per user (in general) in each of the three markets? How may this impact development?</strong></li>
			<p><small>In a report from mobithinking.com I found information on data plans on each of the three regions. The data from Japan showed that 75% of mobile users are on unlimited data plans and over 95% have 3G phones. In the US 29% have unlimited data plans and only 8% in Western Europe. A report by the New York Times reports that the US charges and average of $7.50 per gig(LTE) and UK charges $2.50.</small></p>

			<li><strong>And, finally, what would be your suggested strategy in project topic and global market choice? Feel free to have a first and second choice.</strong></li>
			<p><small>I seem to gravitate to utility/productivity applications. Gaming is not something that I will probably go into. I am more interested in building out applications for businesses.</small></p>
		
		</ol>
	</div>
</div>