<div id="main" class="row-fluid">
	<div class="span12 hero-unit">
		<h3> Week 2 Research </h3>
		<ol>
			<li><strong>What are some of the ways that you could change your HTML on your Demo app to be more accessible? (Remember, you can use the Section tag with jQuery, for instance)</strong></li>
			<p><small>Reading more about HTML accessibility in design was a good exercise. I really did not know much about screen readers before hand. Since I am using what is considered a Single Page Application with Angular.js, I was curious on how to alert a screen reader of new dynamic content when the whole page was not reloaded. In my findings I found using role=”alert” and aria-live=”assertlive” can give JAWS an indication of the new content. There is also a trick of hiding/showing content and focusing on it.</small></p>

			<li><strong>Visit a video service on the web (like YouTube) and search for "Screen Reader Demo" and "Mobile Screen Reader" - what are some of the common frustrations (or common support mechanisms) that you see among the examples that are given - how could you fix them (or use them)?</strong></li>
			<p><small>From what I am reading, the use of ARIA tags in the html design is a key feature for making an accessible page. This lets screen readers understand the purpose of different areas of the page and can be quickly scanned through. The order of content is also important to allow ease of navigation. Using alt text and lang attributes can also help out a screen reader.</small></p>

			<li><strong>Devices: Please list two devices (and some of their features) that are made specifically to support Accessibility.</strong></li>
			<p><small>The iPhone and iPad both come with accessibility features built in. These features include voiceover, zoom, large text, black on white, mono audio, assistive touch, and siri. Windows 8 phone includes support for screen magnification, high contrast, and large fonts. Blackberry devices provide support of some of the following features: hearing aid compatibility, support for captioned multimedia content, TTY and TDD compatibility, vibration alerts, one hand operation, inverted color contrast support, customizable fonts, and browser zoom. Android Nexus line is a good line to choose due to being updated directly by Google when new versions of the OS are available and accessibility is included.</small></p>

			<li><strong>Mobile Apps: Please list two apps (either Android or iOS, or both) that are made specifically to support Accessibility.</strong></li>
			<p><small>Android</p>
			<ol>
				<li>Talkback – this app is for blind or vision-impaired users that adds speech and vibration feedback.
				</li>
				<li>Tecla Access – is a set of tools that provides switch access Android.
				</li>
			</ol>

		</ol>
	</div>
</div>